* {
    margin: 0;
    padding: 0;
}

div.main {
  min-height: calc(100vh - 60px);
}

div.footer {
    height: 50px;
    padding: 5px;
    color: royalblue;
    text-align: center;
}


h2 {
    color: green;
}

div {
    text-align: center;
}

div.header {
    padding: 7%;
}

input.string {
    background: peachpuff;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    border-color: red;
}

input.button {
    background: peachpuff;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    border-color: red;
    margin: 10px 0 0;
}

